.Category {
  width: inherit;
  position: relative;
  height: 320px;
  margin: 0 0 0 1rem;
}
.Category-description {
  margin: 0;
  font-size: .75rem;
  font-weight: normal;
  color: #777;
}
.Category-title {
  margin: 0;
  font-size: 1.2rem;
  margin: .25rem 0 1rem 0;
  color: #44546b;
  text-transform: uppercase;
}

.Category-results {
  margin-left: 1rem;
}
