.Categories {
  margin-left: 300px;
  background-color: #FFF;
  height: 100vh;
  overflow: hidden;
  width: Calc(100vw - 300px);
}
.Categories-header {
  width: inherit;
  display: flex;
  flex-direction: row;
}
