.PlayPause {
  width: inherit;
  margin: 5px;
}
.PlayPause button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .5;
}
.PlayPause button:hover {
  opacity: 1;
}
