.Spinner {
  position: absolute;
      margin: 50%;
      color: #FFF;
      background-color: rgba(0,0,0,.5);
      font-size: 2rem;
      z-index: 100;
      left: 50%;
      top: 50%;
      margin: -1.5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      text-align: center;
      line-height: 3.2rem;
      animation: girar 1.5s linear infinite;
}
@keyframes girar {
  to{transform: rotate(360deg)}
}
