.Title {
  background-color: rgba(0,0,0,.5);
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  z-index: 100;
}
.Title h2 {
  width: 95%;
  font-family: monospace, 'sans-serif';
  font-size: 1rem;
  margin: .5rem .75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
