.VideoPlayerControls {
  position: absolute;
  bottom: 0;
  width: inherit;
  background-color: rgba(0,0,0,.5);
  height: 35px;
  vertical-align: middle;
  z-index: 100;
  display: table;
}

.VideoPlayerControls > div{
  display: table-cell;
  /*box-shadow: 0 0 5px red inset;*/
  vertical-align: middle;
  text-align: center;
}
