.VolumeSlider {
  position: absolute;
  background-color: rgba(0,0,0,.5);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  display: none;
  width: 5rem;
  height: 30px;
  bottom: 1px;
  left: 10px;
  padding: .25rem;
}
.VolumeSlider:hover {
  display: block;
}
.VolumeSlider input[type="range"]{
  width: 85%;
  vertical-align: middle;
  height: 1.5rem;
}
