.RegularError {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  font-family: monospace, 'sans-serif';
  color: #999;
}
.RegularError-emojis {
  opacity: .85;
  font-size: 5rem;
  margin: 0;
}
